{% extends "base.html" %}

{% block title %}Skule Tutors - Password Change{% endblock %}

{% block content %}
    <div class="row">
        <div class="span4 offset4">
            <div class="well">
                <h2>Change Password</h2>
                <form method="post" action="{% url django.contrib.auth.views.password_change %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit"  class="btn btn-large btn-info" value="Change Password" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}