/* Skule Tutors */

body.skuletutors {
    background: #fff;
    font-family: "Source Sans Pro", "Lucida Grande", Tahoma, sans-serif;
    text-rendering: optimizelegibility;
}

body.skuletutors .navbar-inner #logo {
    margin: 0;
    padding: 0 10px 0 0;
}

body.skuletutors .navbar-inner #logo img {
    padding: 5px;
    margin: 0 15px 0 0;
    width: 80px;
    background-color: #0e002d;
}

body.skuletutors .navbar-inner #logo .caret {
    margin-top: 20px;
}

body.skuletutors .navbar-inner .dropdown-title {
    padding: 0 20px;
}

body.skuletutors .page-container h1 a {
    color: rgb(254, 112, 56);
    font-weight: 200;
    border: 0;
    margin: 0;
}

body.skuletutors .header-row hr {
    border-width: 0 0 0 0;
    border-bottom: 4px solid rgb(254, 112, 56);
}

body.skuletutors .user-actions {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 1.25em;
    font-weight: 200;
}

body.skuletutors .tutor .end {
    border-bottom: 1px solid #ccc;
}

body.skuletutors .courses .course-list {
    margin: 0;
    padding: 0;
}

body.skuletutors .courses .course-list li {
    list-style-type: none;
    display: inline;
    margin: 0;
}

body.skuletutors .courses .course-list li a {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

body.skuletutors .courses .course-list li:first-child a {
    padding-left: 0;
}

body.skuletutors .qualifications h5,
body.skuletutors .tutoring h5 {
    margin: 0;
}

.page-container {
    margin-top: 80px;

}

body.skuletutors .tutor .contact-info {
    margin-top: 10px;
}

body.skuletutors .navbar-skuleworks .navbar-inner {
    background: #ffffff;
    border-bottom: 4px solid #0e002d;
}

body.skuletutors footer {
    padding-top: 20px;
}

body.skuletutors .tutors-list .alert,
body.skuletutors .tutors-list .well {
    margin-top: 40px;
}

body.skuletutors .errorlist {
    color: #f00;
    list-style-type: none;
    margin: 0;
}

input {
    width: 300px;
}

textarea {
    width: 300px;
}

select[multiple] {
    width: 300px;
    height: auto;
}

.collapse-open {
    height: auto;
}

.collapse-close {
    height: 40px;
}