{% extends "base.html" %}

{% block title %}Skule Tutors{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h2>Apply to be a tutor</h2>
        </div>
    </div>
    <div class="row">
        <div class="span12">
                            <div class="alert">
                                Please email the VP Academic, vpacademic@skule.ca, before applying.
</div>
            <form action="{% url tutors.views.TutorApplication %}" method="post">{% csrf_token %}
                <div class="row">
                    <div class="span6">
                        {{ user_creation_form.non_field_errors }}
                        {% for field in user_creation_form %}
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <span class="help-block">{{ field.help_text }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="span6">
                        {% for field in profile_creation_form %}
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <span class="help-block">{{ field.help_text }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="well well-small">
                    <h4>By signing up to become a tutor, you agree to the following terms and conditions:</h4>

                    <p>I will not tutor a student for a course I am currently a TA, marker or instructor for or
                        am in any way associated with. I am aware that an academic investigation and sanctions
                        may arise if this occurs. </p>

                    <p>I understand that I am reaponsible for tutoring fees, schedule and payment as
                        privately arranged between myself and the student. The Faculty of Applied Science and
                        The Engineering Society takes no responsibility for non payment or conflicts that may
                        arise from any of these aforementioned items or anything directly or indirectly related.</p>
                </div>

                <input type="submit" class="btn btn-info" value="Submit application"/>
            </form>
        </div>
    </div>

{% endblock %}