<!DOCTYPE html>
<!--[if IEMobile 7]><html class="no-js iem7"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><html class="no-js"><![endif]-->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7 oldie"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8 oldie"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><html class="no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% block title %}Skule Tutors{% endblock %}</title>

    <!-- Google Chrome Frame for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- mobile meta (hooray!) -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" type="text/css" media="all">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/skule_tutor.css" type="text/css" media="all">
    <script type="text/javascript">
    var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-34549763-3"]);_gaq.push(["_trackPageview"]);(function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})()
    </script>
</head>

<body class="skuletutors">
<div class="navbar navbar-skuleworks navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>


            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="#" class="brand dropdown-toggle" id="logo" data-toggle="dropdown"><img
                                src="{{ STATIC_URL }}img/logo.png" alt="Skule"> Tutors <b
                                class="caret hide-tablet hide-phone"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">


                            <li>
                                <a tabindex="-1" href="http://www.skule.ca/academic-services">Skule Academic
                                    Services</a>
                            </li>
                            <li class="divider"></li>

                            <li>
                                <a tabindex="-1" href="/">Tutors <span class="muted">Tutors database</span></a>
                            </li>
                            <li>
                                <a tabindex="-1" href="http://courses.skule.ca">Courses <span
                                        class="muted">Past exams</span></a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a tabindex="-1" href="http://www.skule.ca">Go to
                                    <strong>Skule.ca</strong> &rsaquo;</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <form action="{% url tutors.views.SearchTutors %}" class="navbar-form form-search" method="GET">
                            <div class="input-append">
                                <input type="search" name="search" placeholder="Find your tutor"
                                       class="input-xlarge search-query"
                                       value='{% block search_field %}{% endblock %}'>
                                <input type="submit" class="btn" value="Search">
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-container container">
    <div class="row header-row">
        <div class="span9">
            <h1><a href="/">Skule Tutors</a>
                <small>BETA</small>
            </h1>
        </div>

        <div class="span3">
            <br>
            {% if user.is_authenticated %}
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-info disabled">{{ user.email }} </a>
                    <a class="btn" href="{% url django.contrib.auth.views.logout %}">Logout</a>
                </div>
            {% else %}
                <div class="btn-group pull-right">
                    <a class="btn btn-info" href="{% url tutors.views.TutorApplication %}">Apply to be a Tutor</a>
                    <a class="btn" href="{% url django.contrib.auth.views.login %}">Log in</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row header-row">
        <hr class="span12">
    </div>
    <div class="row">
        {% if messages %}
            <div class="span12">
                <div class="alert alert-block alert-info">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>

                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>

    {% block content %}
        <!-- CONTENT GOES HERE -->
    {% endblock %}
    <footer class="row">
        <div class="span11">
            <p class="muted">
                A service of the <a href="http://skule.ca/about-skule/">University of Toronto Engineering Society</a>
            </p>

            <p class="muted">A Skule&trade; open source project,code at
            <a href="https://github.com/EngTurtle/skule_tutors2">https://github.com/EngTurtle/skule_tutors2</a></p>

            <p class="muted">Icons from <a href="http://glyphicons.com">Glyphicons Free</a>,
                licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
        </div>
        <p class="muted span1 pull-right">
            <a class="pull-right" href="/admin">Admin</a>
        </p>
    </footer>
</div>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/skuletutors.js"></script>
</body>
</html>