<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Skule Tutors</title>

    <link rel="stylesheet" id="bootstrap-css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" type="text/css" media="all">
</head>
<body>
<div class="navbar navbar-skuleworks navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <h1 style="display: inline-block;"><a href="http://skule.ca">Skule</a> Tutors</h1>
            <p style="display: inline; margin-left: 10%;">Work in progress</p>
            <p style="display: inline; float:right;"><a href="/admin">admin</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <br>
        <h2>List of tutors</h2>
    </div>
{% for tutor in Tutor_list %}
    {% if tutor.approved %}
    <div class="row">
        <h4>{{ tutor.name }}</h4>
        <p><a href="mailto:{{ tutor.email }}">{{ tutor.email }}</a></p>
        <p>{{ tutor.phone }}</p>
        <p>Rate: ${{ tutor.rate }}</p>
        <p>{{ tutor.description }}</p>
        <br>
    </div>
    {% endif %}
{% endfor %}
</div>
</body>
</html>