<!DOCTYPE html>
<!--[if IEMobile 7]><html class="no-js iem7"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><html class="no-js"><![endif]-->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7 oldie"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8 oldie"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><html class="no-js"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>
        Skule Tutors
    </title><!-- Google Chrome Frame for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- mobile meta (hooray!) -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Web Fonts (yay!) -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../static/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link href="../static/css/mockup.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic'
          rel='stylesheet' type='text/css'>
    <!-- wordpress head functions -->
    <!-- end of wordpress head -->
    <!-- drop Google Analytics Here -->

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js">
    </script>
    <script type="text/javascript" src="../static/js/bootstrap.js">
    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34549763-1']);
        _gaq.push(['_setDomainName', 'skule.ca']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <!-- end analytics -->
</head>
<body class="skuletutors">
<div class="navbar navbar-skuleworks navbar-static-top" role="navigation">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <p id="logo">
                <a href="http://skule.ca">Skule</a>
            </p>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academic Services <b
                                class="caret hide-tablet hide-phone"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <li>
                                <a tabindex="-1" class="active" href="#">Skule Tutors</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="#">Skule Courses</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <form action="/" class="navbar-form" method="get">
                            <input type="search" placeholder="Search by course code or tutor name" class="span3"><input
                                type="submit" class="btn" value="Search">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="page-container container">
    <div class="row header-row">
        <h1 class="page-header span9">
            Skule Tutors
        </h1>

        <div class="span3">
            <p class="user-actions">
                <a href="#">Username</a>
            </p>

            <div class="btn-group">
                <a class="btn">Edit profile ›</a> <a class="btn">Logout ›</a>
            </div>
        </div>
    </div>
    <div class="tutors-list">
        <article>

            <section class="tutor">
                <div class="row contact-info">
                    <div class="span3 tutor-name">
                        <p class="lead">
                            <strong><a href="#">Jason Davis</a></strong>
                        </p>
                    </div>
                    <div class="span3">
                        <p class="lead">
                            <a href="tel:416-985-6892">416-985-6892</a>
                        </p>
                    </div>
                    <div class="span5">
                        <p class="lead">
                            <a href="mailto:lol@lolface.example.com">jason.davis@utoronto.ca</a>
                        </p>
                    </div>
                    <div class="span1">
                        <p class="lead">
                            $35<span class="muted">/hr</span>
                        </p>
                    </div>
                </div>
                <div class="row courses">
                    <div class="span6 tutoring">
                        <h5 class="muted">
                            Tutoring offered in
                        </h5>
                        <ul class="course-list">
                            <li>
                                <a href="#">ESC101</a>
                            </li>
                            <li>
                                <a href="#">ESC102</a>
                            </li>
                            <li>
                                <a href="#">ESC203</a>
                            </li>
                        </ul>
                    </div>
                    <div class="span6 qualifications">
                        <h5 class="muted">
                            Qualifications
                        </h5>

                        <p>
                            PhD, PEng, MEng, MASc, BASc Fluid Mechanics
                        </p>
                    </div>
                </div>
            </section>
            <section class="tutor">
                <div class="row contact-info">
                    <div class="span3 tutor-name">
                        <p class="lead">
                            <strong><a href="#">Jason Davis</a></strong>
                        </p>
                    </div>
                    <div class="span3">
                        <p class="lead">
                            <a href="tel:416-985-6892">416-985-6892</a>
                        </p>
                    </div>
                    <div class="span5">
                        <p class="lead">
                            <a href="mailto:lol@lolface.example.com">jason.davis@utoronto.ca</a>
                        </p>
                    </div>
                    <div class="span1">
                        <p class="lead">
                            $35<span class="muted">/hr</span>
                        </p>
                    </div>
                </div>
                <div class="row courses">
                    <div class="span6 tutoring">
                        <h5 class="muted">
                            Tutoring offered in
                        </h5>
                        <ul class="course-list">
                            <li>
                                <a href="#">ESC101</a>
                            </li>
                            <li>
                                <a href="#">ESC102</a>
                            </li>
                            <li>
                                <a href="#">ESC203</a>
                            </li>
                        </ul>
                    </div>
                    <div class="span6 qualifications">
                        <h5 class="muted">
                            Qualifications
                        </h5>

                        <p>
                            PhD, PEng, MEng, MASc, BASc Fluid Mechanics
                        </p>
                    </div>
                </div>
            </section>
        </article>
        <footer class="row">
            <p class="muted span5">
                <small>© University of Toronto Engineering Society, 2012. All rights reserved.</small>
            </p>
            <p class="muted span1 pull-right">
                <small><a href="#">Admin</a></small>
            </p>
        </footer>
    </div>
</div>
</body>
</html>