{% extends "base.html" %}

{% block title %}Skule Tutors{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h2>List of tutors</h2>
    </div>
</div>
<div class="row-fluid">
    {% for tutor in Tutor_list %}
        {% if tutor.approved %}
            <div class="span4 tutor">
                <h4>{{ tutor.name }}</h4>
                <p><a href="mailto:{{ tutor.email }}">{{ tutor.email }}</a></p>
                <p>{{ tutor.phone }}</p>
                <p>Rate: ${{ tutor.rate }}</p>
                <p>{{ tutor.description }}</p>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
