{% extends "base.html" %}

{% block title %}Skule Tutors{% endblock %}

{% block content %}

    <header class="fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <br>

        <div class="well">
            <div class="row-fluid ">
                <div class="span8">
                    <p class="lead">Skule&trade; Tutors is the official tutors database for U of T Engineering.</p>
                    <h4>Find a tutor</h4>

                    <form action="{% url tutors.views.SearchTutors %}" class="navbar-form" method="GET">
                        <input type="search" name="search" placeholder="Find a tutor by course code or tutor name"
                               class="input-xxlarge search-query"
                               value='{% block search_field %}{% endblock %}'>
                        <input type="submit" class="btn" value="Search">
                    </form>
                </div>
                <div class="span4">
                    <h3>Become a tutor</h3>
                    <!-- TODO reformat this box so things lines up -->
                    <p style="margin-bottom:5px;">Applications for Skule Tutors are now open.</p>
                    <a class="btn btn-info" href="{% url tutors.views.TutorApplication %}">Apply to be a tutor</a>

                </div>
            </div>
        </div>

    </header>


    <div class="page-header">
        <h2>List of tutors</h2>
    </div>

    <div class="tutors-list">
        <article>
            {% for tutor in Tutor_list %}
                {% if tutor.approved %}
                    <section class="tutor">

                        <div class="row contact-info">
                            <div class="span3 tutor-name">
                                <p class="lead">
                                    <strong>{{ tutor.name }}</strong>
                                </p>
                            </div>
                            <div class="span3">
                                <p class="lead">
                                    {{ tutor.phone }}
                                </p>
                            </div>
                            <div class="span4">
                                <p class="lead">
                                    <a href="mailto:{{ tutor.email }}">{{ tutor.email }}</a>
                                </p>
                            </div>
                            <div class="span2">
                                <p class="lead">
                                    ${{ tutor.rate }}<span class="muted">/hr</span>
                                </p>
                            </div>
                        </div>
                        <div class="row courses">
                            <div class="span6 tutoring">
                                <h5 class="muted">
                                    Tutoring offered in
                                </h5>
                                <ul class="course-list">
                                    {% for course in tutor.taught_courses.all %}
                                        <li>{{ course.course_code }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="span6 qualifications">
                                <h5 data-toggle="collapse" data-target="#qualifications{{ forloop.counter }}">
                                    Qualifications
                                </h5>
                                <ul class="unstyled collapsed" id="qualifications{{ forloop.counter }}" data-toggle="collapse">
                                {% for line in tutor.qualifications_as_list %}
                                <li>{{ line }}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="row ">
                            <hr class="span12">
                        </div>

                    </section>
                {% endif %}

            {% empty %}
                <section>
                    <div class="well">
                        <h3>Coming soon</h3>

                        <p class="lead">Skule Tutors is coming soon. Please check back later!</p>
                    </div>
                </section>
            {% endfor %}

        </article>
    </div>
{% endblock %}
